<form method="post">

    <div>
        <h4>Register</h4>
    </div>

    <div>
        <p>login</p>
        <input type="text" id="login" placeholder="Username">
        <p>Email</p>
        <input type="email" id="email" placeholder="Email">
        <p>Password</p>
        <input type="password" id="password">
        <input type="submit" value="Register">
    </div>

</form>